/******PRINT STYLES*********/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a {
    text-decoration: underline;
  }

  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after {
    content: "";
  }

  a[href^="javascript:"]:after {
    content: "";
  }

  a[href^="#"]:after {
    content: "";
  }

  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr {
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: .5cm;
}

  p {
    orphans: 3;
    widows: 3;
  }

  h2 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }

  h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }
}
