* {
	@include single-transition(width, 0.3s, ease);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* =Fonts
----------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Lora);
$sans-serif: 'Open Sans', sans-serif;
$serif: 'Lora', serif;


html {
	font-size: 16px;
	@include bp(med) {
		// font-size: 14px;
	}
	@include bp(sm) {
		// font-size: 12px;
	}
}
body {
	font-family: $sans-serif;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Text elements */
h1 {
	font-family: $sans-serif;
	@include rem(font-size, 2.25rem);
	line-height: 1.6em;
}
h2 {
	font-family: $sans-serif;
	@include rem(font-size, 1.5rem);
	text-transform: uppercase;
}
h3 {
	font-family: $sans-serif;
	@include rem(font-size, 1.25rem);
}
h4 {
	font-family: $sans-serif;
	@include rem(font-size, 1.125rem);
}
h5 {
	font-family: $sans-serif;
	@include rem(font-size, 1rem);
}
p {
	font-family: $sans-serif;
	@include rem(font-size, 1rem);
	line-height: 1.4em;
	margin-bottom: 1.625em;
}
ul, ol {
	font-family: $sans-serif;
	@include rem(font-size, 1rem);
	line-height: 1.4em;
	margin: 0 0 1.625em 2.5em;
}
ul {
	list-style: square;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 1.625em;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.625em;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	font-family: $serif;
	@include rem(font-size, 1.25rem);
	font-style: italic;
	font-weight: normal;
	margin: 0 3em 2em;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
blockquote cite {
	color: #666;
	font-family: $sans-serif;
	@include rem(font-size, 1rem);
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
pre {
	background: #f4f4f4;
	font-family: "Courier 10 Pitch", Courier, monospace;
	@include rem(font-size, 0.85rem);
	line-height: 1.5;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 0.75em 1.625em;
}
code, kbd, samp, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	@include rem(font-size, 0.85rem);
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 1.625em;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	@include rem(font-size, 0.75rem);
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* Forms */
input[type=text],
input[type=email],
input[type=password],
textarea {
	background: #ffffff;
	font-family: $sans-serif;
	font-size: 14px;
	letter-spacing: 0.12em;
	@include box-shadow(none);
	border: 1px solid #222;
	color: #222;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
	color: #222;
	outline: none;
}
textarea {
	padding-left: 3px;
	width: 98%;
}
input[type=submit] {
	background-color: #000000;
	color: #ffffff;
	font-family: $sans-serif;
	font-size: 12px;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	margin: 0;
	border: none;
	display: block;
	cursor: pointer;
	-webkit-transition: ease-in 0.1s all;
	-moz-transition: ease-in 0.1s all;
	-o-transition: ease-in 0.1s all;
	transition: ease-in 0.1s all;
}
input[type=text],
input[type=email] {
	padding: 3px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #222;
	text-transform: uppercase;
}
input:-moz-placeholder,
textarea:-moz-placeholder { /* Firefox 18- */
	color: #222;
	text-transform: uppercase;
}
input::-moz-placeholder,
textarea::-moz-placeholder {  /* Firefox 19+ */
	color: #222;
	text-transform: uppercase;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {  
	color: #222;
	text-transform: uppercase;
}
[placeholder]:focus::-webkit-input-placeholder {
	transition: opacity 0.2s ease; 
	opacity: 0;
}
img {
	max-width: 100%;
	height: auto;
}
#ie img {
	width: auto;
}
video,
embed,
iframe {
	max-width: 100%;
}

/* Links */
a {
	color: #222;
	text-decoration: none;
	-webkit-transition: ease-in 0.1s all;
	-moz-transition: ease-in 0.1s all;
	-o-transition: ease-in 0.1s all;
	transition: ease-in 0.1s all;
}
a:focus,
a:active,
a:hover {
	color: #888;
	text-decoration: none;
}

/* Theme Components */
ul.subnav {
	list-style: none;
	margin: 0;
	li {
		margin-bottom: 0.5em;
	}
}
